code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

/*категорически не хотела применять !important(и никогда не применяю его), но только этот вариант тут прокатил*/
body, .gantt_default_main {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  padding: 11px 16px;
  min-width: 101px;
  border: 1px solid rgba(38, 40, 66, 0.12);
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: medium;
  background-image: url('./images/arrow_button.png');
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

h1 {
  margin: 0;
  padding: 0
}

.container {
  max-width: 1440px;
  padding: 24px;
  overflow-x: hidden;
}

.gantt_default_main {
  box-shadow: inset -4px 2px 8px rgba(16, 31, 43, 0.1);
}

.gantt_default_scrollable {
  z-index: -10;
}

.header_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_h2 {
  margin-bottom: 18px;
}

.gantt_default_main {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.gantt_default_event_inner {
  height: 24px;
  background: rgb(11, 83, 148) !important;
  top: 10px !important;
  font-size: 0px;
}

.gantt_default_rowheader {
  background: white !important;
}

.gantt_default_rowheader_inner {
  background: white;
  padding: 11px 20px !important;
}

.gantt_default_columnheader_splitter {
  opacity: 0 !important;
}

.gantt_default_columnheader {
  height: 30px;
}

.gantt_default_columnheader_cell_inner {
  font-size: 18px;
  padding-left: 20px !important;
}

.span {
  padding-left: 8px;
}